
.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.flex-item-left {
  flex: 1;
}

.flex-item-right {
  flex: 2;
}

.component-title {
  text-align: center;
}